*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Cedarville cursive', sans-serif;
}
.body{
  background-color: #E2E2D5;
}
 .header{
  width:100%;
  background-color: #8CAD8D;
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items: center;
}

nav img{
  width: 100px;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 8px 12px;
}

.nav-links ul li a{
  color: #1F4535;
  text-decoration: none;
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.nav-links ul ::after{
  content: "";
  width:0%;
  height:2px;
  background: #1F4535;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.grid{
  margin-top: 25px;

}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, auto);
  align-content: center;
  line-height: 30px;

}

img{
  max-width: 60%;
  max-height: 60%;
  display: block;
  object-fit: cover;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.item1{
  grid-column: 1;
  grid-row: 1;

}

.item2{
  grid-column: 2;
  grid-row:1;
  background-color: #8CAD8D;
  font-family:'Source Sans 3', sans-serif;
}


.item3{
  grid-column: 3;
  grid-row:1;

}

.item4{
  grid-column: 1;
  grid-row: 2;


}

.item5{
  grid-column: 2;
  grid-row: 2;
  background-color: #8CAD8D;
}

.item6{
  grid-column: 3;
  grid-row: 2;


}
.item7{
  grid-column: 1;
  grid-row: 3;
}

.item8{
  grid-column: 2;
  grid-row: 3;
  background-color: #8CAD8D;
}

.item9{
  grid-column: 3;
  grid-row: 3;
}
.p{
  font-size: 50px;
  font-family: 'Cedarville Cursive', sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

.p2{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;


}
.footer{
  width:auto;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  text-align: center;
  background-color:#8CAD8D;
  color: #1F4535;
  padding-top: 10px;
  padding-bottom: 10px;
}
